<header role="banner" class="bg-blue">
    <nav role="navigation">
        <p class="logo"><a href="/" title="Velie">Velie</a></p>
        <ul>
            <li>
                <a rel="external" href="https://backup.velie.ru" title="Velie Backup App">
                    <svg class="fa-cloud-download">
                        <use xlink:href="#fa-cloud-download"></use>
                    </svg>
                    <em>@Velie</em>
                </a>
            </li>
        </ul>
    </nav>
</header>
